<%- include("partials/header.ejs") %>

<h1>Все статьи</h1>
<% blogs.forEach(blog => { %>
  <div>
    <h2><%= blog.blog_caption %></h2>
    <p><%= blog.blog_text %></p>
    <small>Автор: <%= blog.author %></small><br>
    <small>ID: <%= blog.id %></small>
  </div>
  <hr>
<% }) %>
<%- include("partials/footer.ejs") %>

